.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	max-width: 1920px;
	background-image: linear-gradient(0deg, rgba(195,188,34,1) 0%, rgba(45,101,253,1) 71%);
}

[class*="__container"]{
	max-width: 810px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.bird {
	padding: 20px;
}
.bird__item {
	min-height: 400px;
	
	background: url('../img/bird.jpg');
	transition: background 0.5s ease 3.5s;
}
.image img{
	max-width: 100%;
}
.image{
opacity: 0;
transition: opacity 3s;
}
.bird__item:hover .image{
	opacity: 1;
	transition-delay: 1s;
}
.bird__item:hover{
	background: darkgoldenrod;
}
.ukraine__text{
	min-height: 480px;
	background: url('../img/01.jpg') 0 0 / 100% 100% no-repeat;
}
h1,h2{
	padding-top: 15px;
	font-size: 33px;
	color: rgb(0, 0, 255);
	text-shadow: 2px 2px 5px rgb(255, 255, 0);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
}
h1,h2:not(:last-child){
	margin-bottom: 20px;
}
p{
	font-size: 28px;
	color: rgb(7, 7, 90);
	text-transform: uppercase;
	text-align: center;
}
.title{
	animation: title 5s ease infinite;
}
@keyframes title{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(2);
	}
	100%{
		transform: scale(0);
	}
}
.sub-title{
	animation: sub-title 2s ease 1s forwards;
}
.text{
	animation: sub-title 2s ease 1.5s forwards;
}
@keyframes sub-title{
	0%{
		transform: translate(0px, 50%);
		opacity: 0;
	}
	100%{
		transform: translate(0px, 0%);
		opacity: 1;
	}
}
.freedom__container {
	min-height: 400px;
	background-color: rgb(55, 55, 255);
	position: relative;
	border-bottom: 15px dashed rgb(5, 56, 5);
}
.freedom__item {
	position: absolute;
	left: 285px;
	top: 270px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgb(17, 17, 221);
	outline: 13px dotted rgb(250, 250, 8);
	animation: flower 5s ease infinite;
}
.freedom__container::before{
	content: '';
	position: absolute;
	width: 8px;
	height: 60px;
	background-color: rgb(24, 110, 24);
	left: 315px;
	top: 340px;
}
.freedom__container::after{
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(193, 224, 12);
	left: 670px;
	top: 40px;
	box-shadow: -5px 5px 25px rgba(230, 230, 84, 0.808);
	animation: sun 5s linear infinite;
}
@keyframes sun{
	0%{
		transform: scale(1);
}
	50%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	}
	}
@keyframes flower{
	0%{
		transform: rotate(-360deg);
}
	}
.freedom__sky{
	position: absolute;
	width: 150px;
	height: 75px;
	background-color: rgb(28, 28, 240);
	border-radius: 200px 110px 200px 87px;
	left: 250px;
	top: 30px;
	animation: sky 3s ease infinite;
}
.freedom__sky::before{
	content: '';
	position: absolute;
	width: 80px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(28, 28, 240);
	left: 40px;
	top: -20px;
}
.freedom__sky::after{
	content: '';
	position: absolute;
	width: 85px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(28, 28, 240);
	left: 20px;
	top: 45px;
}
@keyframes sky{
	0%{
		transform: translateY(1px);
	}
	50%{
		transform: translateY(7px);
	}
	100%{
		transform: translateY(1px);
	}
}
.freedom__rain{
	position: absolute;
	width: 110px;
	height: 65px;
	background: url('../img/03.png');
	left: 270px;
	top: 130px;
	animation: sky 3s ease infinite;
}
.freedom__boy{
	position: absolute;
	width: 230px;
	height: 280px;
	background: url('../img/04.png');
	left: 20px;
	top: 70px;
	animation: boy 2s ease infinite;
}
@keyframes boy{
0%{
	transform: translateY(20px);
}
50%{
	transform: translateY(0px);
}
100%{
	transform: translateY(40px);
}
}
.freedom__girl{
	position: absolute;
	width: 283px;
	height: 340px;
	background: url('../img/05.png');
	left: 380px;
	top: 70px;
	animation: girl 3s ease infinite;
	perspective: 300px;
}
@keyframes girl{
	0%{
		transform: rotate3d(0,3,0.3,360deg);
	}
}